body {
    margin: 0;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.logo {
    height: 3rem;
    margin-right: 1rem;
}

.account {
    height: 3rem;
}

.nav {
   background-color: #03fcbe;
}


.container {
    margin-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1rem;
}

@media (max-width: 899px) {
    .logoMini {
        display: block; /* Zobrazí logo na mobilech */
    }

    .logoMaxi {
        display: none; /* Zobrazí logo na mobilech */
    }
}

@media (min-width: 900px) {
    .logoMini {
        display: none; /* Skryje logo na větších obrazovkách */
    }

    .logoMaxi {
        display: block; /* Zobrazí logo na mobilech */
    }
}
